html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
    --bg-green: #2aa876;

    --bg-color: #ffffff;
    --bg-color-contrast: #222222;
    --text-color: #222222;

    --bg-green-theme: #d1e7dd;
    --bg-green-theme-contrast: #2aa876;
    --bg-yellow-theme: #fff3cd;
    --bg-yellow-theme-contrast: ##ffc107cf;
    --shadow-theme: #ccc;
}

.dark-theme {
    --bg-color: #222222;
    --bg-color-contrast: #ffffff;
    --text-color: #ffffff;

    --bg-green-theme: #2aa876;
    --bg-green-theme-contrast: #d1e7dd;
    --bg-yellow-theme: #ffc107cf;
    --bg-yellow-theme-contrast: #fff3cd;
    --shadow-theme: #5e5e5e;
}

.bg-green-theme {
    background-color: var(--bg-green-theme);
}

.bg-green-theme-contrast {
    background-color: var(--bg-green-theme-contrast);
}

.bg-yellow-theme {
    background-color: var(--bg-yellow-theme);
}

.bg-yellow-theme-coontrast {
    background-color: var(--bg-yellow-theme-contrast);
}

.bg-green {
    background-color: var(--bg-green);
}


p {
    color: #5e6576;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
    line-height: 1.2rem;
}

h1 {
    color: var(--text-color);
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.25rem;
    letter-spacing: -0.4px;
}

h2 {
    color: var(--text-color);
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.625rem;
    letter-spacing: -0.4px;
}

h3 {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: -0.2px;
}

h4 {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.2px;
}

h5 {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.625rem;
}

h6 {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.375rem;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: var(--bg-color);
}

.parent-container {
    margin: 0;
    padding: 0;
}

.text-accent-color {
    color: var(--text-color);
}

.bg-color {
    background-color: var(--bg-color);
}

.heading {
    -webkit-text-stroke: 4px;
}

/*=============== navigation bar ==========*/

.navbar {
    padding-top: 1.75rem;
    z-index: 1;
    background-color: var(--bg-color);
    box-shadow: none;
    transition: all 0.2s;
}

.top-nav-collapse {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.logo-icon {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color: var(--bg-color-contrast);
}

.nav-link {
    color: var(--bg-color-contrast);
}

.logo-icon:hover,
.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
    color: var(--bg-green);
}

.theme-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.navbar-toggler-icon {
    background-color: white;
}

/*============= Body head ===========*/

.header {
    padding-top: 0rem;
    padding-bottom: 0rem;
    text-align: center;
}

.name-h1 {
    -webkit-text-stroke: 4px var(--text-color);
}

.about-img {
    margin-left: 0px;
    right: -10px;
}

@media (max-width: 960px) {
    .about-img {
        margin: 30px 0px 0px 0px;
        right: 0px;
        top: 0px;
    }
}

.btn {
    padding: 5px 20px;
    border-radius: 100px;
    border: 1px solid var(--bg-green);
}

.btn-cv {
    background-color: white;
    box-shadow: 0px 4px 16px 0px var(--shadow-theme);
    transition: all .2s ease-in-out;
}

.btn-cv:hover {
    color: var(--bg-color);
    background-color: var(--bg-green);
    transform: scale(1.1);
}

.btn-about {
    margin-left: 10px;
    color: var(--bg-color);
    background-color: var(--bg-green);
    box-shadow: 0px 4px 16px 0px var(--shadow-theme);
    transition: all .2s ease-in-out;
}

.btn-about:hover {
    background-color: #ffffff;
    border: 1px solid var(--bg-green);
    transform: scale(1.1);
}


/* ================  About Section ============= */

.heading-about {
    -webkit-text-stroke: 4px;
}

.about-img {
    margin-top: 30px;
}

.about-text {
    text-align: justify;
    text-justify: inter-word;
}

/* timeline card*/

.contents {
    padding: 0px 30px;
    border-left: 4px solid var(--text-color);
    transition: all .2s ease-in-out;
}

.box {
    position: relative;
    padding: 20px;
    border: 1px solid var(--bg-color);
    border-radius: 7px;
    cursor: pointer;
    transition: all .4s;
    margin-top: 20px;
}

.contents .box:hover {
    box-shadow: 0px 2px 12px 0px #ccc;
    border: 1px solid transparent;
    /* transform: scale(1.1); */
}

.contents .box::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    right: calc(100% + 20px);
    top: 0;
    background-color: var(--bg-green-theme-contrast);
    border: 4px solid white;
}

.work-icon {
    width: 70%;
    height: auto;
}

/* ========================= Footer ================ */

.footer-social-buttons {
    color: black;
    margin-right: 20px;
}

.footer-social-buttons:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.2);
}